		<section class="footerLight" layout="row" layout-align="center" ng-show="$state.includes('otherwise')">

			<div class="container" 
				layout-xs="column" layout-align-xs="space-between center"
				layout-sm="row" layout-align-sm="space-between center"
				layout-md="row" layout-align-md="space-between center"
				layout-gt-md="row" layout-align-gt-md="space-between center">

				<span flex-md="40" flex-offset-md="5" 
					  flex-sm="40" flex-offset-sm="5" 
					  flex-gt-md="50" >Будущее основывается в настоящем.</span>

				<span flex-md="40" flex-offset-md="10" 
					  flex-sm="45" flex-offset-sm="5"
					  flex-gt-md="50" >© 2016 KRONOS GROUP. All Rights Reserved.</span>
				<span flex></span>
			</div>

		</section>