			 <slick infinite=true slides-to-show=1 arrows=false dots=false  slides-to-scroll=1 id="slider" 
			 		ng-if="work.sliderImgList.length">
    			<div class="item" ng-repeat="slider in work.sliderImgList" style="background-image:url('{{slider}}')">
				</div>
    		</slick>

			<section class="content projectContent" layout-align="center" layout="row">
				<div class="containerLight" layout-align="start stretch" layout="column">

					<div class="titleLight   bg-white">
						<span>
							{{work.title.subTitle}}
						</span>
						<h2 >{{work.title.mainTitle}}:</h2>
						<div class="titleLogo">
							<div class="titleLogoRound" layout="row" layout-align="center center">
								<img src="img/icons/img-icons/icon-bag.png" alt="">
							</div>
							
						</div>
					</div>

					<div class="workWrapper  " layout="column" layout-align="start center" >
						<div class="divider"></div>

						<div class="textBlock" layout="column" layout-align="start center" ng-repeat="works in work.workList">

							<div class="roundCaption" layout="row" layout-align="center center">
								<span>{{works.id}}</span>
							</div>	

							<h3 class="titleCaption">
								{{works.name}}
							</h3>

							<div class="textCaption md-whiteframe-4dp" >
								<div ng-bind-html="works.text"></div>
							</div>

						</div>
					</div>

					<div class="titleLight  bg-white">
						<h2 >Партнеры</h2>
						<div class="titleLogo">
							<div class="titleLogoRound" layout="row" layout-align="center center">
								<img src="img/icons/img-icons/icon-people.png" alt="">
							</div>
						</div>
					</div>

					<div class=" workPartners containerPadding" layout="column" layout-align="start stretch" >
						<span><b>Наши партнеры, которые разделяют наше видение партнерских отношений и способы совместно решать клиентов из разных сфер бизнеса</b></span>
						<div layout="row" layout-wrap layout-align="start center">
							<div 
								flex-gt-md=45 
								flex-md=45 
								flex-sm=45 
								flex-xs=50 ng-repeat="partner in work.partners">{{partner}}</div>
						</div>
					</div>
					
					<div class="titleLight  bg-white">
						<h2 >Документы потверждающие компетентность</h2>
						<div class="titleLogo">
							<div class="titleLogoRound" layout="row" layout-align="center center">
								<img src="img/icons/img-icons/icon-people.png" alt="">
							</div>
						</div>
					</div>
		
					<div class="workLink  containerPadding" layout="column" layout-align="start stretch">
						<a href="{{site.link}}" target="_blank" ng-repeat="site in work.links" layout="row" layout-align="start start">
							<img src="img/icons/img-icons/icon-pdf.png" alt="" hide-xs>
							<span flex>{{site.name}}</span>
						</a>
					</div>

				</div>
			</section>